footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.footer-main{
    display: flexbox;
    flex-direction: column;
    padding: 2px  10vw 10vw;
    padding-bottom: 0;

}

.line{
    height: 0.2rem;
    width: 80vw;
    background:#666668;
    border-radius: 12px;
}

.brandname{
    margin:2vh;
}

.adjust{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    margin:2vh;
    cursor: pointer;
    display: flex;
    
}

.icons img{
    height: 1rem;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
}
.icons img:hover{
    scale: 1.4;
    transition: ease-in-out 0.5s;
    
}
