.landing-main{
    position: relative;
    top: 0px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #efefef;
}

.card-image{
position:relative;
/* height: 150px; */
/* width: 150px; */
}

.image-content , .card-content{
    padding: 10px,14px;
    display: flex;
    flex-direction: column;
    align-items: center;


}


.slide-content{
    margin: 0 40px;


}

.card{
    background-color: #fff;    
    height: 60vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    

}

.card-image .card-img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor:pointer;
    transition: all 0.3s ease;
    position:static;

}

.games-space{
    max-width: 1120px;
    width: 47vw;
    background-color: grey;
    padding: 1vh 0.5vw ;
    border-radius: 12px;
}


.button:hover{
    background: #265df2;
}

.cr-back{
    background: rgba(0, 0,0,0.3);
    backdrop-filter: blur(20px);
    border-radius:12px;
}

.user-img{
    height: 16vh;
    max-width: 16vh;
    border-radius: 50%;
    margin: 3vh;

}

.user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
